@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Share+Tech+Mono&display=swap');


*{
    margin: 0;
    padding: 0;

}

header{
    display: flex;
    flex-direction: column;
    width: 402px;
    justify-content: center;
    align-items: center;
}

#profile-photo{
    display: block;
    max-width: 330px;
    height: auto;
    margin: 20px;

}


#about-section{
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 20px;
}